body{
    background-image: url(../imagens/imagemescura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 190px;
}
h1{
    color: #f4d35e;
    font-size: xx-large;
    font-family: 'Mochiy Pop P One', sans-serif;
    
}
p.primeiro{
    color:brown;
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
    
}
p.segundo{
    color: coral;
    font-size: xx-large;
    font-family: 'Bebas Neue', cursive;
}
input.editar{
    font-size: x-large;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
input.editar2{
    font-size: x-large;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}
input.botaoeditar{
    color: black;
    background-color: lightskyblue;
    font-size: 1.5em;
    border: 1px solid #da4167;
    padding: 4px;
    text-shadow: 0 -1px 0 #2e4057;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-top: 1px solid red;
}
p.titulo{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large
}
p.resposta{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
}
header nav {
    float: right;
    width: 285px;
    margin-top: -150px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
a{
    color:lightskyblue;
    text-decoration: none;
    font-size: 20px;
}
a:visited{
    color:salmon;
}
a:hover{
    text-decoration: underline;
}